
/*iconos*/
.iconos{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 5px;
    
}

.border-icon{
    height: 1px;
    width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin rgb(171, 97, 23);
    border-radius: 25%;
    font-size: 1.5rem;
    transition: all .3 ease-in;
    background-color: rgba(212, 163, 115, 0.718);
}

.border-icon:hover{
    background-color: rgb(212, 163, 115);
    cursor: pointer;
    color: rgb(166, 43, 43)%, 41%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(188, 108, 37);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: rgb(218, 210, 153);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(133, 36%, 77%, 0.331), hsla(53, 47%, 73%, 0.525)), url(xx.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(133, 36%, 77%, 0.331), hsla(53, 47%, 73%, 0.525)), url(xx.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    background-size: cover;
    background-attachment:fixed ;
    position: relative;
}


nav{
    text-align: right;
    padding: 30px 60px 0 0;
}

nav > a{
    color:rgb(188, 108, 37);
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 90px;
    color:rgb(0, 0, 0);
}

.textos-header h2{
    font-size: 40px;
    font-weight: 350;
    color:rgb(0, 0, 0);
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 45%;
    padding: 0px 0 30px ;
}

.sobre-nosotros .contenido-textos{
    width: 40%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: rgb(221, 161, 94);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2.5px;
    box-shadow: 0 0 6px 0 rgba(136, 41, 144, 0.5);
    margin-right: 15px;
}

.contenido-textos p{
    padding: 0px 0px 30px 45px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */
.portafolio{
    background: rgb(242, 242, 242);
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.imagen-port{
    width: 16%;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 9px 0 rgba(136, 41, 144, 0.5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(188, 107, 37, 0.58);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: rgb(246, 246, 246);
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: rgb(233, 196, 106);
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: rgb(33, 28, 28);
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: rgb(242, 242, 242);
    padding-bottom: 10px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items:normal;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: rgb(65, 65, 65);
    padding: 0px 0 30px 0;
    margin: auto;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.contenedor-iconos {
    height: 100px;
    width: 100%;
    
}



h2{
    color: rgb(149, 139, 139);
    font-size: 20px;
    text-align:center;
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
}

 li {
    color: rgb(15, 13, 13);
    font-size: 15px;
    text-align:center;
    margin-bottom: 60px;
    margin: 0;
    padding: 0; 
}

a{
    color: rgb(15, 13, 13);
    font-size: 15px;
    text-align:center;
    margin-bottom: 60px;
    margin: 0;
    padding: 0; 
}

.medios{
    width: 10px;
    padding: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin: auto;
    
    align-items: center;
    
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: rgb(255, 255, 255);
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: rgb(204, 204, 204);
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
.contenedor-iconos{
    display: flex;
    width: 40%;
    justify-content: column;
    margin: auto;
    
}


@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 30%;
       
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}
  .static__menu {
    list-style: none;
    padding: 0;
  }
  
  .static__menu h2 {
    margin-bottom: 10px;
  }
  
  .static__submenu li {
    margin-bottom: 5px;
  }
  
  .static__submenu a {
    color: #fff;
    text-decoration: none;
  }
  
  .medios img {
    width: 100px;
    margin: 0 5px;
  }
  


  /*menu de navegacion */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #F2F2F2; /* Color neutro */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.search-form {
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #CCCCCC; /* Color del borde */
    border-radius: 3px;
}

.search-form button {
    padding: 5px 10px;
    background-color: rgb(233, 196, 106); /* Color rosa */
    color: rgb(16, 14, 14);
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background-color: #F2F2F2; /* Color neutro */
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}



.menu ul li a {
    display: block;
    padding: 10px;
    color: #333333; /* Color del texto */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background-color: rgb(233, 196, 106);
    color: rgb(101, 78, 20);
    border-radius: 10px;
}

/* Efectos de movimiento */
.menu ul li:nth-child(odd) {
    transform: translateX(20px);
}

.menu ul li:nth-child(even) {
    transform: translateX(-20px);
}
header {
    background-color: #F2F2F2;
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    margin: 0;
}

.menu ul li:first-child {
    margin-right: auto;
}

/*pie de pagina */
/*iconos*/
* {
    margin: 0;
    padding: 0;
   
}

body {
    font-family: 'Roboto', sans-serif;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 5px;
    color: black;
}

.border-icon {
    height: 1px;
    width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin rgb(171, 97, 23);
    border-radius: 25%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
    background-color: rgba(212, 163, 115, 0.718);
}

.border-icon:hover {
    background-color: rgb(212, 163, 115);
    cursor: pointer;
    color: brown;
}

footer {
    background: rgb(65, 65, 65); 
    padding: 30px 0;
    
    background-color: #333;
    text-align: center;
    
    bottom: 0;
    left: 0;
    width: 100%;
}

.contenedor-iconos {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 600px;
}

.h2 {
    color: rgb(149, 139, 139);
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
}

.medios {
    width: 10px;
    padding: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.medios img {
    width: 100px;
    margin: 0 5px;
}


